*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #ada4a4;
  padding: 30px;
  border-radius: 10px;
}
input {
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
}

.error-border {
  border: 1px solid red;
}

small.error-message {
  color: red;
  font-size: 14px;
}
#password {
  margin-bottom: 20px;
}
